<a href="https://colab.research.google.com/github/NidPlays/ADP-Class/blob/main/ADP_Sample_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First Program

Simple program to Find area of triangle by base and height
Uses formula (base*height)/2 

![image.png]()

In [ ]:
#Area of triangle

base=float(input("Enter base:"))
height=float(input("Enter heigt:"))
#Area
Area= (float(base)*float(height))/2
#Output
print("The Area of triangle is " + str(Area)+" sq.units")

Enter base:20
Enter heigt:10
The Area of triangle is 100.0 sq.units

Sample Output

Enter base:20

Enter heigt:10

The Area of triangle is 100.0 sq.units

--------------------------------------------------------------------------------

# Second Program

Simple Program to calculate CGPA By giving sgpa of previous semesters
Calculates cgpa and then converts to percentage

In [1]:
#Program to calculate Cgpa
#Student details input
name=str(input("Enter the name:"))
usn=str(input("Enter the USN:"))
#SGPA input
s1=float(input("Enter SGPA of SEM-1:"))
s2=float(input("Enter SGPA of SEM-2:"))
s3=float(input("Enter SGPA of SEM-3:"))
s4=float(input("Enter SGPA of SEM-4:"))
#To calculate CGPA and percentage
cgpa=(float(s1)+float(s2)+float(s3)+float(s4))/4
percentage= (float(cgpa)-0.75)*10
#Output
print("Computing.......")
print("The CGPA of "+name+" with USN "+usn+" is "+str(cgpa))
print("The percentage is "+str(percentage))

Enter the name:Nidish G
Enter the USN:1RN19IS094
Enter SGPA of SEM-1:8.75
Enter SGPA of SEM-2:9.30
Enter SGPA of SEM-3:9.0
Enter SGPA of SEM-4:7.7
Computing.......
The CGPA of Nidish G with USN 1RN19IS094 is 8.6875
The percentage is 79.375

Sample Output

Enter the name:Nidish

Enter the USN:1RN1I9S094

Enter SGPA of SEM-1:8.75

Enter SGPA of SEM-2:9.30

Enter SGPA of SEM-3:7.7

Enter SGPA of SEM-4:9.0

Computing.......

The CGPA of Nidish with USN 1RN1I9S094 is 8.6875

The percentage is 79.375